#game {
  background-color: #749D34;
  border: 1px solid;
  display: block;
  margin: 1rem;
}

header {
  font-size: 1.7rem;
}

body {
  font-size: 1rem;
  font-family: 'Varela Round', sans-serif;
  background-color: #CCEB9D;
  color: #2F4E00;
}

h1 {
  margin: 0;
  text-align: center;
}

h2 {
  text-align: center;
}

footer {
  text-align: center;
}

#flex {
  display: flex;
}

#instructions,
#game-stats {
  margin: 2rem;
  width: 25rem;
}

#game-stats {
  text-align: center;
}

#high-score, 
#score {
  font-size: 2rem;
}

#start-btn,
#reset-btn {
  width: 17rem;
  height: 2rem;
  margin-left: 1.8rem;
  background-color: white; 
}